@font-face {
  font-family: 'Carrosserie';
  src: url("fonts/assets/carrosserie-bold.eot");
  src: url("fonts/assets/carrosserie-bold.eot?#iefix") format("embedded-opentype"), url("fonts/assets/carrosserie-bold.woff") format("woff"), url("fonts/assets/carrosserie-bold.ttf") format("truetype"), url("fonts/assets/carrosserie-bold.svg#carrosseriebold") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Carrosserie';
  src: url("fonts/assets/carrosserie-regular.eot");
  src: url("fonts/assets/carrosserie-regular.eot?#iefix") format("embedded-opentype"), url("fonts/assets/carrosserie-regular.woff") format("woff"), url("fonts/assets/carrosserie-regular.ttf") format("truetype"), url("fonts/assets/carrosserie-regular.svg#carrosserieregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Carrosserie';
  src: url("fonts/assets/carrosserie-light.eot");
  src: url("fonts/assets/carrosserie-light.eot?#iefix") format("embedded-opentype"), url("fonts/assets/carrosserie-light.woff") format("woff"), url("fonts/assets/carrosserie-light.ttf") format("truetype"), url("fonts/assets/carrosserie-light.svg#carrosserielight") format("svg");
  font-weight: 300;
  font-style: normal; }
/* line 6 */
body {
  background: #eee; }

/* line 11 */
#logo {
  position: relative !important;
  display: inline-block;
  font: 120px 'Carrosserie', Helvetica, sans-serif;
  line-height: 0.75em;
  font-kerning: normal;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.8); }
  /* line 17, /Volumes/UserDrive/2014-02_10.8_Users/slippyd/Projects/slippyd.com/v10/slippyd-com_v10/source/_mixins.scss */
  #logo > .back {
    position: absolute !important;
    z-index: 1;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  /* line 18, /Volumes/UserDrive/2014-02_10.8_Users/slippyd/Projects/slippyd.com/v10/slippyd-com_v10/source/_mixins.scss */
  #logo > .cont {
    position: relative !important;
    display: inline-block !important;
    z-index: 100; }
  /* line 25 */
  #logo > .box {
    position: absolute !important;
    z-index: 1;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 4px solid rgba(0, 0, 0, 0.8); }
  /* line 33 */
  #logo.squiqqle {
    background: url("graphics/squiggle.5px-thick.ee5e2b-tr.86x15.png") repeat-x 0px 81.5px, url("graphics/squiggle.5px-thick.ee5e2b-tr.86x15.png") repeat-x -25px 89.5px;
    animation: squiqqle 3s linear 0s infinite; }
@keyframes squiqqle {
  from {
    background-position: 0px 81.5px, -25px 89.5px; }
  to {
    background-position: 86px 81.5px, -111px 89.5px; } }
  /* line 58 */
  #logo > .cont {
    padding: 14px 10px 8px 10px; }
    /* line 61 */
    #logo > .cont .capn {
      font-size: 50px;
      line-height: 120px;
      letter-spacing: -0.05em;
      font-weight: 700;
      display: block;
      float: left;
      vertical-align: baseline;
      margin-right: 8px; }
    /* line 72 */
    #logo > .cont .name {
      float: right; }
      /* line 75 */
      #logo > .cont .name .first, #logo > .cont .name .middle, #logo > .cont .name .last {
        display: block; }
      /* line 76 */
      #logo > .cont .name .first {
        font-weight: 700; }
      /* line 79 */
      #logo > .cont .name .middle {
        font-weight: 400;
        font-size: 0.6em;
        line-height: 0.7em;
        letter-spacing: -0.04em; }
      /* line 83 */
      #logo > .cont .name .last {
        font-weight: 300;
        font-size: 0.45em;
        line-height: 0.85em;
        letter-spacing: +0.02em; }
