@font-face {
  font-family: 'Carrosserie';
  src: url("fonts/assets/carrosserie-bold.eot");
  src: url("fonts/assets/carrosserie-bold.eot?#iefix") format("embedded-opentype"), url("fonts/assets/carrosserie-bold.woff") format("woff"), url("fonts/assets/carrosserie-bold.ttf") format("truetype"), url("fonts/assets/carrosserie-bold.svg#carrosseriebold") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Carrosserie';
  src: url("fonts/assets/carrosserie-regular.eot");
  src: url("fonts/assets/carrosserie-regular.eot?#iefix") format("embedded-opentype"), url("fonts/assets/carrosserie-regular.woff") format("woff"), url("fonts/assets/carrosserie-regular.ttf") format("truetype"), url("fonts/assets/carrosserie-regular.svg#carrosserieregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Carrosserie';
  src: url("fonts/assets/carrosserie-light.eot");
  src: url("fonts/assets/carrosserie-light.eot?#iefix") format("embedded-opentype"), url("fonts/assets/carrosserie-light.woff") format("woff"), url("fonts/assets/carrosserie-light.ttf") format("truetype"), url("fonts/assets/carrosserie-light.svg#carrosserielight") format("svg");
  font-weight: 300;
  font-style: normal; }
/* line 4 */
body {
  background: #eee; }

/* line 9 */
#logo {
  display: inline-block;
  font: 120px 'Carrosserie', Helvetica, sans-serif;
  line-height: 0.75em;
  font-kerning: normal;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 4px; }
  /* line 21 */
  #logo .capn {
    font-size: 50px;
    line-height: 120px;
    letter-spacing: -0.05em;
    font-weight: 700;
    display: block;
    float: left;
    vertical-align: baseline;
    margin-right: 0.0em; }
  /* line 32 */
  #logo .squiqqle, #logo.squiqqle {
    background: url("graphics/squiggle.5px-thick.ee5e2b-tr.86x15.png") repeat-x -25px 67.5px, url("graphics/squiggle.5px-thick.ee5e2b-tr.86x15.png") repeat-x -25px 75.5px; }
  /* line 41 */
  #logo .name {
    float: right; }
    /* line 44 */
    #logo .name .first, #logo .name .middle, #logo .name .last {
      display: block; }
    /* line 45 */
    #logo .name .first {
      font-weight: 700; }
    /* line 48 */
    #logo .name .middle {
      font-weight: 400;
      font-size: 0.6em;
      line-height: 0.7em;
      letter-spacing: -0.04em; }
    /* line 52 */
    #logo .name .last {
      font-weight: 300;
      font-size: 0.45em;
      line-height: 0.85em;
      letter-spacing: +0.02em; }
