@font-face {
	font-family: 'carrosserielight';
	src: url('carrosserie-light-webfont.eot');
	src:
		url('carrosserie-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('carrosserie-light-webfont.woff') format('woff'),
		url('carrosserie-light-webfont.ttf') format('truetype'),
		url('carrosserie-light-webfont.svg#carrosserielight') format('svg');
	font-weight: normal;
	font-style: normal;
}
