---
---


@import '../bower_components/susy/sass/susy';
@import 'mixins';
@import 'fonts/carrosserie';


body {
	background: #eee;
}


#logo {
	$capn-font-size: 50px;
	$capn-line-size: 2.4 * $capn-font-size;
	$padding_4: 14px 10px 8px 10px;
	
	@include pane;
	
	display: inline-block;
	
	font: 120px 'Carrosserie', Helvetica, sans-serif;
	line-height: 0.75em;
	font-kerning: normal; letter-spacing: -0.04em;
	color: rgba(0, 0, 0, 0.8);
	
	> .box {
		@include pane-back;
		
		position: absolute;
		top: 0px; bottom: 0px; left: 0px; right: 0px;
		border: 4px solid rgba(0, 0, 0, 0.8);
	}
	
	&.squiqqle {
		$first-x-offset: 0px;
		$second-x-offset: -25px;
		
		$logo-top-padding: nth($padding_4, 1);
		$first-y-offset: $logo-top-padding + ($capn-line-size / 2 + $capn-font-size * 0.15);
		$second-y-offset: $first-y-offset + 8px;
		
		$background-width: 86px;
		background: url('graphics/squiggle.5px-thick.ee5e2b-tr.86x15.png') repeat-x $first-x-offset $first-y-offset,
			url('graphics/squiggle.5px-thick.ee5e2b-tr.86x15.png') repeat-x $second-x-offset $second-y-offset;
		
		@keyframes squiqqle {
			from {
				background-position: $first-x-offset $first-y-offset,
					$second-x-offset $second-y-offset;
			}
			to {
				background-position: ($first-x-offset + 86px) $first-y-offset,
					($second-x-offset - 86px) $second-y-offset;
			}
		}
		animation: squiqqle 3s linear 0s infinite;
	}
	
	> .cont {
		padding: $padding_4;
		
		.capn {
			font-size: $capn-font-size;
			line-height: $capn-line-size;
			letter-spacing: -0.05em;
			font-weight: 700;
			
			display: block; float: left;
			vertical-align: baseline;
			margin-right: 8px;
		}
		
		.name {
			float: right;
			
			.first, .middle, .last { display: block; }
			.first {
				font-weight: 700;
			}
			.middle {
				font-weight: 400;
				font-size: 0.6em; line-height: 0.7em; letter-spacing: -0.04em;
			}
			.last {
				font-weight: 300;
				font-size: 0.45em; line-height: 0.85em; letter-spacing: +0.02em;
			}
		}
	}
}



//#logo { outline: 1px solid red; }
//.capn { outline: 1px solid green; }
//.name { outline: 1px solid blue; }

